<div class="row">
  <div class="col">
    <input class="form-control" placeholder="Buscar" #filtro>
  </div>
  <div class="col-auto text-end">
    <button class="btn btn-outline-success" type="button" (click)="filtrarPersonas(filtro.value)">Buscar</button>
    <button type="button" class="btn btn-success mx-1" routerLink="/agregar">Agregar</button>
  </div>
</div>
<div class="row">
  <table class="table table-striped table-hover text-center">
    <thead>
      <td class="">Nombre</td>
      <td class="">Dirección</td>
      <td class="">Telefono</td>
      <td class="">Correo</td>
      <td class="">Acciones</td>
    </thead>
    <tbody *ngFor="let persona of listaPersonasFiltrado">
      <td>{{persona.nombre}}</td>
      <td>{{persona.direccion}}</td>
      <td>{{persona.telefono}}</td>
      <td>{{persona.correo}}</td>
      <td class="text-end">
        <button [routerLink]="['/editar', persona.id]" type="button" class="btn btn-secondary mx-1">Editar</button>
        <button type="button" class="btn btn-danger mx-1" (click)="eliminarPersona(persona.id!)">Eliminar</button>
      </td>
    </tbody>
  </table>
</div>
